@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

body {
  font-family:Source Sans Pro, sans-serif;
  margin-bottom:12.5%;
  background-color: #9BCCFA;
  background-image: url(../images/fundo.png);
 background-repeat: repeat;
}
  .textos {
    margin-left:2%;
    margin-top:1%;
    margin-bottom:1%;
    background-image: url()
  }
  /*imagens*/
  .botao_voltar {
    margin-left:7%;
    margin-top: 4%;
  }
  .lapizinho {
    margin-right: 3px;
  }
  .container {
    display:flex;

  }
  .campo {
    font-family:Source Sans Pro, sans-serif;
    border-radius: 8px;
    border: 1px solid var(--Light-Gray-6, #9E9E9E);
    background: #FFF;
    width: 614px;
    height: 56px;
    flex-shrink: 0;
  }

  .campo2 {
    font-family:Source Sans Pro, sans-serif;
    border-radius: 8px;
    border: 1px solid var(--Light-Gray-6, #9E9E9E);
    background: #FFF;
    width: 294.06px;
    height: 56px;
    flex-shrink: 0;
  }

  .campodireita {
    font-family:Source Sans Pro, sans-serif;
    border-radius: 8px;
    border: 1px solid var(--Light-Gray-6, #9E9E9E);
    background: #FFF;
    width: 294.06px;
    height: 56px;
    flex-shrink: 0;
    margin-left: 20.94px;
  }

  .campo3 {
    font-family:Source Sans Pro, sans-serif;
    border-radius: 8px;
    border: 1px solid var(--Light-Gray-6, #9E9E9E);
    background: #FFF;
    width: 150px;
    height: 56px;
    flex-shrink: 0;
    margin-right: 25px;
  }

  .campo4 {
    font-family:Source Sans Pro, sans-serif;
    border-radius: 8px;
    border: 1px solid var(--Light-Gray-6, #9E9E9E);
    background: #FFF;
    width: 439px;
    height: 56px;
    flex-shrink: 0;
  }
 
  .conteudo {
    font-family: Source Sans Pro,sans-serif;
    margin: top 26.38px;
    margin-left: 16px;
    margin-right:16px;
    margin-bottom: 9.54px;
    size:16px;
  }
  
  .nomecampo {
    size: 16px;
    margin-top:8.53px;
    margin-left:16px;
    margin-right: 16px;
    color: var(--Light-Gray-7, #757575);
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-style: normal;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.25px;

  }
.heading {
  color: #03314B;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.5px; /* 108.333% */
}

.headingespecial {
  color: #03314B;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.5px; /* 108.333% */
  margin-bottom: 1px;
}

.headingpaciente {
  font-weight: 600;
}

.título {
  margin-top: 5%;
  margin-left:32%;
  color: white;
  font-family: "Source Sans Pro";
  font-size: 70px;
  font-weight: 900;
  line-height: 26px;
  }

  .teladefundo {
  width: 744px;
  height: 1150px;
  margin-top: 5%;
  margin-left: 25%;
  gap: 0px;
  border-radius: 30px;
  background-color:#fcfdff;

  }